<section id="menu">
        <!---- img src="light.png" width="70" height="70" class="imglogo"----> 
        <ul class="main-nav">
            <li class="act"><a href="">HOME</a></li>
            <li><a href="#"><span>Travel Blog</span></a></li>
            <li><a href="#">Promotion</a></li>
            <li><a [routerLink]="['/sign-in']" id="login">LOGIN</a></li>
            <li><a [routerLink]="['/enterpernure-signup']" id="Enterprenuer">Enterprenuer Account</a></li>
            
        </ul>
</section>