<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
</head>
<body>
    <app-navbarhotel></app-navbarhotel>
    <section id="home">        
        <div id="home-overlay">
          <div class="container">
              <main>
                  <div class="row">
                    <div class="col-md-12" >
                          <form id="elemantform">
                            <h3>Hello, Enter You Destination!</h3>
                          <input type="text" placeholder="Search.." name="search" ><br><br>
                          <input type="date"><input type="date" id="date2"><br><br>
                          <input type="submit"value="Search">
                          </form>
                    </div>
                </div>

              </main>
                          
          </div> 
      </div>
            
        
    </section>
</body>
</html>