
<div class="contianer">
    <aside class="sidebar">
        <div class="navSide">
                <h1 id="Hi">Hi</h1>
                <ul><a  ><img src="assets/layout.png"  height="25px"> Dashboard</a></ul>
                <ul [routerLink]="['/my-profile']"><a> <img src="assets/user.png"  height="25px">  Profile</a></ul>
                <ul  [routerLink]="['/my-work']"><a> <img src="assets/website.png"  height="25px"> MyWork</a></ul>
                <ul  [routerLink]="['/my-order']"><a> <img src="assets/calendar.png"  height="25px"> Booking</a></ul>
        </div>
               
            
    </aside>
    <div class="content">
        <header class="header">
                <div class="menuHead">
                <a [routerLink]="['/home']"  >Home</a>
                <a (click)="authService.SignOut()">Logout</a>  
                </div>
                
        </header>
        <section class="main">
                
        </section>
    </div>
</div>