<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-5 formbox">
                    <div class="form">
                        <div class="titlebox text-center">
                            <h3>Hello,Are you admin</h3>
                            <p>please Login</p>
                        </div>
                    <form>
                        <label>Email</label>
                        <input type="email" placeholder="Enter Your Email" class="input-box" #userName required>
                        <label>Password</label>
                        <input type="password" placeholder="Enter Your Password" class="input-box"  #userPassword required>
                        <button type="button" class="submit" value="Log in" (click)="authService.SignInAdmin(userName.value, userPassword.value)">Login</button>
                    </form>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>